body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/JrbItQz/glowing-futuristic-network-shape-loopable-background-4k-4096x2304_nvzq1ms0g__F0000.png");
  background-color: #cccccc;
}
